[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rjson"]
	path = rjson
	url = https://github.com/alexcb/rjson
	shallow = true
	subdir = rjson
	registered = true
